body
    {
        background-color:rgb(8, 94, 0);   
        font-family: 'Times New Roman', Times, serif;   
        margin: auto;   
        width: 90%; 
        font-size: 20px;
    }
.cab  
    {
        font-family: 'Times New Roman', Times, serif;
        background-color: #d2cc10;
        border-radius: 40px; 
        margin-top: 10px;
        width: 100%;
        height: 40px;

    }
.titulo
    {

        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

.nav a    
    {
        margin-top: 9px;
        float: right;   
        padding-right: 20px;
        text-decoration: none;
        color: rgb(0, 76, 255);   
    }
.nav a:hover
    {
        color: rgb(255, 0, 208);
    }
.backgroud1
    {
        background-color:rgb(202, 228, 250);
        border-radius: 75px;
        padding: 10px 20px 10px 20px;
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
    }
    .backgroud2
    {
        background-color:rgb(202, 228, 250);
        border-radius: 100px;
        padding: 10px 20px 10px 20px;
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
    }
    

